.nox {
	font-size: 18px;
	overflow: hidden;
}

.underline-blue-centre {
	margin: 0 0 20px 0;
}

.underline-blue-centre::after {
    content: "";
    width: 120px;
    height: 3px;
    background: #888888;
    display: block;
    margin: 10px auto 0 auto;
}

.underline-black-left {
	margin: 0 0 10px 0;
}

.underline-black-left::after {
    content: "";
    width: 82px;
    height: 2px;
    background: #000000;
    display: block;
    margin: 10px auto 0 0;
}

.blue-text {
	color: #0098D8;
}

.white-background {
	background: #ffffff;
	display: block;
}

.grey-background {
	background: #efefef;
	display: block;
}

.blue-background {
	background: #0098d8;
	display: block;
}


.black-background {
	background: #000000;
	display: block;
	color: #ffffff;
}
	.black-background .title-area h1
	{
		color: #0098d8;
	}
	.black-background .title-area p
	{
		color: #ffffff;
	}


.btn-black {
	margin: 0 0 50px 0;
	background: #000000;
	border: 1px solid #ffffff !important;
	color: #ffffff;
	font-size: 1.2em;
	text-decoration: none !important;
}

.btn-black:hover {
	background: #333333;
	text-decoration: none;
	border: 1px solid #ffffff !important;
	color: #ffffff;
	text-decoration: none !important;
}
.mt40 {
	margin-top: 40px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb50 {
	margin-bottom: 50px;
}

.ptb15
{
	padding: 15px 0;
}

.plr30 {
	padding-left: 30px;
	padding-right: 30px;
}

.img-center
{
	display: block;
	margin: auto;
}

.top-area {
	display:block;
	text-align:center;
}

.top-area a {
	display:block;
	margin: 0;
}

.top-area a img {
	margin:0 auto 0 auto;
}

/** Button **/
.button
{
	background: #FFFFFF;
	border-radius: 10px;
	color: #0098D8;
	display: inline-block;
	font-weight: bold;
	padding: 0.3em 1em;
}

/** Title area in content **/
.title-area {
	padding: 20px 0 20px 0;
}

.title-area h1 {
	color: #0098d8;	
	font-family: Arial;	
	font-size: 2.33em;	
	line-height: 1.4em;	
	text-align: center;
	font-weight: bold;
	padding: 0;
	display: block;
}

.title-area p {
	color: #4A4A49;	
	font-family: Arial;	
	line-height: 1.5em;	
	text-align: center;
	font-weight: normal;
	margin: 0 0 30px 0;
}


/** Slide **/
.nox-slide
{
	padding-bottom: 1em;
}
	.nox-slide.slide-1 .slide-intro
	{
		font-size: 1.5em;
	}
	.nox-slide.slide-1 p
	{
		margin-bottom: 0.5em;
	}
	
	.nox-slide .owl-dots
	{
		float: none !important;
		margin: 0 0 1em;
		width: auto !important;
	}
		.nox-slide .owl-dot
		{
			background: #EFEFEF;
			border: 0;
			height: 25px;
			width: 25px;
		}
			.nox-slide .owl-dot.active
			{
				background: #0098d8;
			}

/** Popup **/
a.magnifying-glass
{
	display: inline-block;
	position: relative;
}
	.hover-overlay
	{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .3s ease;
	}
	
	a.magnifying-glass:hover .hover-overlay
	{
		opacity: 1;
	}
	
.mfp-container
{
	background: #0098d8;
}
	.mfp-container.mfp-image-holder .mfp-close
	{
		font-size: 4em;
		text-align: center;
	}
	
	.mfp-container .mfp-img
	{
		padding: 40px 0 20px;
	}

/** Off Screen Image **/
.with-off-screen-img
{
	float: left;
	margin-bottom: 3em;
	padding-bottom: 6em;
	position: relative;
	width: 100%;
}
	.off-screen-img
	{
		bottom: 0;
		margin-bottom: -2em;
		margin-right: -11em;
		max-width: 950px;
		padding-right: 0;
		position: absolute;
		right: 0;
		width: 100%;
	}
	
	.mobile-off-screen-img
	{
		padding: 0;
	}
		.mobile-off-screen-img img
		{
			max-width: 135% !important;
		}
	
/** Lists **/
.nox ul
{
	padding-left: 1em;
}
	.nox ul li
	{
		color: #0098d8;
	}
		.nox ul li span
		{
			color: #333333;
		}

/** Air Pollution row **/
.air-pollution-row
{
	padding: 0.7em 0;
	text-align: center;
}
	.air-pollution-image img
	{
		left: 0;
		margin-top: -64px;
		position: absolute;
		top: 0;
		z-index: 100;
	}
	
	.air-pollution-row .h2,
	.air-pollution-row a.button
	{
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}
	.air-pollution-row .h2
	{
		color: #FFFFFF;
		font-size: 1.8em;
		font-weight: bold;
	}
	.air-pollution-row a.button
	{
		margin-left: 2em;
	}

	
/** Bottom/Form/Footer **/
.nox-bottom-slider-row
{
	padding-bottom: 130px;
}

.nox-bottom
{
	left: 0;
	margin-top: -7em;
	position: absolute;
	right: 0;
	z-index: 11;
}
	.nox-bottom .row
	{
		height: 0;
	}

#block-webform-client-block-1280
{
	background: #F2F2F2;
	padding: 8em 0 2em;
}
	#block-webform-client-block-1280 h2,
	#block-webform-client-block-1280 .content
	{
		margin: auto;
		max-width: 820px;
		width: 95%;
	}
	#block-webform-client-block-1280 h2
	{
		color: #0098d8;
		font-size: 2.33em;
		font-weight: bold;
		line-height: 1.4em;
		text-align: center;
	}
		#block-webform-client-block-1280 h2:after
		{
			content: "";
			width: 120px;
			height: 3px;
			background: #888888;
			display: block;
			margin: 10px auto 0 auto;
		}
		
		#block-webform-client-block-1280 label
		{
			color: #0098d8;
			font-size: 1.4em;
			font-weight: normal;
			max-width: 75px;
			vertical-align: middle;
			width: 100%;
		}
		#block-webform-client-block-1280 input
		{
			border: 1px solid #0098d8;
			border-radius: 6px;
			padding: 0.3em;
			margin: 0;
			max-width: 740px;
			vertical-align: middle;
		}
		#block-webform-client-block-1280 input[type="submit"]
		{
			font-weight: bold;
			padding: 0.4em 1.5em;
			text-align: center;
		}

#block-block-1
{
	background: #F2F2F2;
	padding: 0 0 2em;
}
	#block-block-1 .content
	{
		margin: auto;
		max-width: 820px;
		text-align: center;
		width: 95%;
	}

.footer
{
	margin-top: 0;
	padding-top: 6em;
	position: relative;
	z-index: 10;
}

/*********** Responsive ***********/
@media only screen and (max-width : 1370px)
{
	.off-screen-img
	{
		max-width: 875px;
	}
}

@media only screen and (max-width : 1250px)
{
	.off-screen-img
	{
		max-width: 805px;
	}
}

@media only screen and (max-width : 1200px)
{
	.title-area h1
	{
		font-size: 2em;
	}
	
	.off-screen-img
	{
		margin-bottom: -1.7em;
		max-width: 745px;
	}
	
}

@media only screen and (max-width : 1120px)
{
	.air-pollution-row .h2
	{
		font-size: 1.55em;
	}
	
	.off-screen-img
	{
		max-width: 635px;
	}
}

@media only screen and (max-width : 992px)
{
	.nox
	{
		font-size: 15px;
	}
	
		.air-pollution-image img
		{
			display: none;
		}
		
		#block-webform-client-block-1280 input
		{
			padding: 0.7em;
		}
		
		.footer
		{
			padding-top: 12em;
		}
}

@media only screen and (max-width : 886px)
{
	.off-screen-img
	{
		max-width: 565px;
	}
}

@media only screen and (max-width : 767px)
{
	.nox
	{
		font-size: 18px;
	}
		
		.with-off-screen-img
		{
			padding-bottom: 3em;
		}
}

@media only screen and (max-width : 568px)
{

	.footer
	{
		padding-top: 14em;
	}
}