/**** FONT ****/
body,p,li,h1,h2,h3,h4,h5,h6,a,a.button,input,select,textarea
{
	font-family: 'mukta', arial, sans-serif;
	font-weight: 100;
}

/**** Layout ****/
.domus-dabot
{
	background: #FFFFFF;
	color: #4D4D4D;
	font-size: 18px;
}

.main-content-wrapper .coming-soon-text
{
	padding: 0;
}
	.main-content-wrapper .container,
	.content .container
	{
		padding: 0;
		width: 100%;
	}
		.content .content_typography
		{
			padding: 0;
		}

	.content .hero_info--title
	{
		display: none;
	}
	
.content-inner
{
	margin: auto;
	max-width: 825px;
	width: 95%;
}
	.content-inner:after
	{
		content: "";
		clear: both;
		display: table;
	}

.content-table
{
	display: table;
	height: 100%;
	width: 100%;
}
	.content-cell
	{
		display: table-cell;
		vertical-align: middle;
	}

.text-center
{
	text-align: center;
}

/**** Layout - Content ****/
.row-1,
.row-2,
.row-3
{
	padding: 3em 0;
}
	.row-3
	{
		padding: 3em 0 6em;
	}
	.row-3,
	.row-3 h2
	{
		color: #FFFFFF;
	}

.row-1
{
	margin-top: -3px;
}

.domus-dabot p
{
	margin-bottom: 1em;
}
	.domus-dabot p.meta-row
	{
		margin-bottom: 2em;
	}

/**** Button ****/
.button-row
{
	margin-top: 3em;
	position: relative;
	z-index: 100;
}
	.button
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		text-decoration: none;
		cursor: pointer;
		background: transparent;
		border: 1px solid #D2232B;
		border-radius: 8px;
		height: 2.8em;
		font-size: 1em;
		width: 10em;
		padding: 0;
		outline: none;
		overflow: hidden;
		color: #4D4D4D !important;
		transition: color 0.3s 0.1s ease-out;
		text-align: center;
		line-height: 250%;
	}
		.button:hover
		{
			background: transparent;
			color: #FFFFFF !important;
		}
		
		.button:before
		{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			content: '';
			border-radius: 50%;
			background: #FFF;
			display: block;
			width: 20em;
			height: 20em;
			line-height: 20em;
			left: -5em;
			text-align: center;
			transition: box-shadow 0.5s ease-out;
			z-index: -1;
		}
		
			.button:hover:before
			{
				box-shadow: inset 0 0 0 10em #D2232B;
			}
	
/**** Form ****/
#block-webform-client-block-2922
{
	background: #F6F6F5;
	padding: 2em 0;
}
	#block-webform-client-block-2922 h2,
	#block-webform-client-block-2922 .content
	{
		margin: auto;
		max-width: 825px;
		width: 95%;
	}
	#block-webform-client-block-2922 h2
	{
		font-size: 2.5em;
		text-align: center;
	}

		.form-item
		{
			display: inline-block;
			margin: 1%;
			width: 46%;
		}
		.form-item.webform-component-textarea
		{
			width: 95%;
		}
		
			.form-item label
			{
				font-weight: 600;
			}
		
		.form-actions
		{
			border: 0;
			padding: 0;
			margin: 1%;
		}

/**** Header ****/
.header-image
{
	position: relative;
}
	.header-image-text
	{
		bottom: 0;
		left: 0;
		margin-bottom: 1.3em;
		position: absolute;
		right: 0;
		text-align: center;
		width: 100%;
	}
		.header-image-text .sub-heading
		{
			color: #FFFFFF;
			font-size: 1.6em;
			font-weight: 600;
		}

/**** Heading ****/
h1, .h1
{
	color: #FFFFFF;
	font-size: 3.5em;
	font-weight: 900;
}
h2, .h2
{
	color: #D2232B;
	font-size: 2em;
	font-weight: 900;
	margin: 0 0 1em;
}
h3, .h3
{
	color: #D2232B;
	font-size: 1.5em;
	font-weight: 900;
	margin: 0 0 1em;
}
	
	.underline-heading:after
	{
		content: "";
		width: 120px;
		height: 1px;
		background: #D2232B;
		display: block;
		margin: 10px auto 0 auto;
	}

/**** Images/Iframe ****/
img
{
	max-width: 100%;
	height: auto;
}
img.full-width
{
	width: 100%;
}
img.img-block
{
	display: block;
	margin: auto;
}

video
{
	display: block;
	height: auto;
	width: 100%;
}

/**** Slider ****/
/*.carousel-inner
{
	margin: auto;
	max-width: 550px;
}*/
	.row-2 .item
	{
		height: 33em;
		width: 100%;
	}
	.row-3 .item
	{
		height: 22em;
		width: 100%;
	}
		
		.item p
		{
			font-size: 1.1em;
		}
		
.carousel-control
{
	bottom: auto;
	margin-top: -50px;
	opacity: 1;
	top: 50%;
	width: auto;
}
	.carousel-control.left,
	.carousel-control.right
	{
		background: none;
		z-index: 200;
	}

.carousel-indicators,
.slide-2-indicators
{
	position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
	margin-bottom: 0;
	z-index: 500;
}

	.slide-2-indicators li,
	.carousel-indicators li
	{
		background: #FFFFFF;
		border-color: #4D4D4D;
		cursor: pointer;
		height: 15px;
		margin: 0 3px;
		width: 15px;
		display: inline-block;
		text-indent: -999px;
		cursor: pointer;
		border: 1px solid #4D4D4D;
		border-radius: 10px;
	}
	
	.slide-2-indicators li.cycle-pager-active,
	.carousel-indicators li.cycle-pager-active
	{
		background-color: #D2232B;
		border: none;
		height: 15px;
		width: 15px;
	}



@media ( max-width : 480px )
{
	/*** Form ***/
	.form-item
	{
		display: block;
		margin-bottom: 1em;
		width: auto;
	}
	
	/*** Heading ***/
	h1, .h1
	{
		font-size: 2em;
	}
	
	/*** Slider ***/
	.item p
	{
		font-size: 1em;
	}
	
} 
