/**** FONT ****/
body,p,li,h1,h2,h3,h4,h5,h6,a,a.button,input,select,textarea
{
	font-family: 'mukta', arial, sans-serif;
	font-weight: 100;
}

/**** Layout ****/
.domus-page
{
	background: #FBFBFB;
	color: #4D4D4D;
	font-size: 18px;
}

.main-content-wrapper .coming-soon-text
{
	background: none;
	padding: 0;
	text-align: left;
}
	.main-content-wrapper .container,
	.content .container
	{
		padding: 0;
		width: 100%;
	}
		.content .content_typography
		{
			padding: 0;
		}

	.content .hero_info--title
	{
		display: none;
	}
	
.content-inner
{
	margin: auto;
	max-width: 800px;
	width: 95%;
}
	.content-inner:after
	{
		content: "";
		clear: both;
		display: table;
	}
	
	.content-inner ul li
	{
		list-style: none;
		padding-bottom: 0.2em;
		position: relative;
		vertical-align: middle;
	}
		.content-inner ul li:before
		{
			content: "";
			border: 10px solid transparent;
			border-left-color: #D2232B;
			border-right: 0;
			display: inline-block;
			margin-right: 0.4em;
			vertical-align: top;
		}
	
	.row-start .content-inner
	{
		max-width: 830px;
	}
	
.content-table
{
	display: table;
	height: 100%;
	width: 100%;
}
	.content-cell
	{
		display: table-cell;
		vertical-align: middle;
	}

.text-center
{
	text-align: center;
}

/**** Layout - Content ****/
.row-1,
.row-2,
.row-3,
.row-4
{
	padding: 1em 0;
}
	.row-1,
	.row-start
	{
		padding: 1em 0 3em;
	}
	.row-2
	{
		padding: 1em 0 0;
	}
	.row-3
	{
		padding: 0;
	}
	.row-3,
	.row-3 h2
	{
		color: #FFFFFF;
	}
	.row-3 h2
	{
		margin-bottom: 0.2em;
	}

	.row-2 ul
	{
		margin: auto;
		max-width: 480px;
		padding: 0;
		text-align: left;
	}
		.row-2 ul li
		{
			list-style: none;
			margin-bottom: 1em;
			padding-left: 1.5em;
			position: relative;
		}
			.row-2 ul li:before
			{
				content: "";
				border: 14px solid transparent;
				border-right: 0;
				border-left-color: #D2232B;
				left: 0;
				position: absolute;
				top: 0;
			}
		
.domus-page p
{
	margin-bottom: 1em;
}
	.domus-page p.meta-row
	{   
		border-bottom: 1px solid #000000;
		border-top: 1px solid #000000;
		display: inline-block;
		margin-bottom: 1em;
		padding: 0.4em 0;
	}

.red-text
{
	color: #D2232B;
	font-weight: 900;
}

/**** Button ****/
.domus-page .button-row
{
	margin-top: 3em;
	position: relative;
	z-index: 100;
}
.domus-page .button-row.bottom
{
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 2.7em;
	right: 0;
}
	.button
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		text-decoration: none;
		cursor: pointer;
		background: transparent;
		border: 1px solid #D2232B;
		border-radius: 8px;
		height: 2.8em;
		font-size: 1em;
		width: 10em;
		padding: 0;
		outline: none;
		overflow: hidden;
		color: #4D4D4D !important;
		transition: color 0.3s 0.1s ease-out;
		text-align: center;
		line-height: 250%;
	}
		.button:hover
		{
			background: transparent;
			color: #FFFFFF !important;
		}
		
		.button:before
		{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			content: '';
			border-radius: 50%;
			background: #FFF;
			display: block;
			width: 20em;
			height: 20em;
			line-height: 20em;
			left: -5em;
			text-align: center;
			transition: box-shadow 0.5s ease-out;
			z-index: -1;
		}
		
			.button:hover:before
			{
				box-shadow: inset 0 0 0 10em #D2232B;
			}
	
/**** Form ****/
#block-webform-client-block-2906
{
	background: #F6F6F5;
	padding: 2em 0;
}
	#block-webform-client-block-2906 h2,
	#block-webform-client-block-2906 .content
	{
		margin: auto;
		max-width: 825px;
		width: 95%;
	}
	#block-webform-client-block-2906 h2
	{
		text-align: center;
	}

		.form-item
		{
			display: inline-block;
			margin: 1%;
			width: 46%;
		}
		.form-item.webform-component-textarea
		{
			width: 95%;
		}
		
			.form-item label
			{
				font-size: 14px;
				font-weight: 600;
			}
		
		.form-actions
		{
			border: 0;
			padding: 0;
			margin: 1%;
		}

/**** Header ****/
.header-image
{
	position: relative;
}
	.header-image-text
	{
		bottom: 0;
		left: 0;
		margin-bottom: 1.3em;
		position: absolute;
		right: 0;
		text-align: center;
		width: 100%;
	}
		.header-image-text .sub-heading
		{
			color: #FFFFFF;
			font-size: 1.6em;
			font-weight: 600;
		}

/**** Heading ****/
h1, .h1
{
	color: #FFFFFF;
	font-size: 3.8em;
	font-weight: 900;
	line-height: 1;
	margin-bottom: 0;
}
h2, .h2
{
	color: #D2232B;
	font-size: 2em;
	font-weight: 900;
	margin: 0 0 1em;
}
h3, .h3
{
	color: #D2232B;
	font-size: 1.5em;
	font-weight: 900;
	margin: 0 0 1em;
}
	.row-4 h3
	{
		color: #7C7B93;
	}
	
	.underline-heading:after
	{
		content: "";
		width: 120px;
		height: 1px;
		background: #000000;
		display: block;
		margin: 10px auto 0 auto;
	}
	.row-3 .underline-heading:after,
	.row-4 .underline-heading:after
	{
		background: #D2232B;
	}

.white-heading 
{
	color: #FFFFFF;
}

/**** Images/Iframe ****/
img
{
	max-width: 100%;
	height: auto;
}
img.full-width
{
	width: 100%;
}
img.img-block
{
	display: block;
	margin: auto;
}

video
{
	display: block;
	height: auto;
	width: 100%;
}

/**** Partners Logo ****/
.carousel-slide
{
	display: inline-block;
	vertical-align: middle;
}
	.carousel-slide img
	{
		display: block;
		margin: auto;
	}
	
	.carousel-slide + .carousel-slide
	{
		margin-left: 2em;
	}


/**** Slider ****/
/*.carousel-inner
{
	margin: auto;
	max-width: 550px;
}*/
	.row-2 .item
	{
		height: 30em;
		padding: 3em 0;
		width: 100%;
	}
		
	.row-3 .item
	{
		height: 26em;
		padding: 3em 0;
		width: 100%;
	}
		
		.item p
		{
			font-size: 1.1em;
		}
		
.carousel-control
{
	bottom: auto;
	margin-top: -50px;
	opacity: 1;
	top: 50%;
	width: auto;
}
	.carousel-control.left,
	.carousel-control.right
	{
		background: none;
		z-index: 200;
	}
	
	.carousel-control.right
	{
		margin-right: 2em;
	}
	.carousel-control.left
	{
		margin-left: 2em;
	}
	
.carousel-indicators,
.slide-2-indicators
{
	position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
	margin-bottom: 0;
	z-index: 500;
}
.slide-2-indicators
{
	margin-bottom: 36px;
}

	.slide-2-indicators li,
	.carousel-indicators li
	{
		background: #FFFFFF;
		border-color: #4D4D4D;
		cursor: pointer;
		height: 15px;
		margin: 0 3px;
		width: 15px;
		display: inline-block;
		text-indent: -999px;
		cursor: pointer;
		border: 1px solid #4D4D4D;
		border-radius: 10px;
	}
	
	.slide-2-indicators li.cycle-pager-active,
	.carousel-indicators li.cycle-pager-active
	{
		background-color: #D2232B;
		border: none;
		height: 15px;
		width: 15px;
	}

/**** Responsive ****/
@media ( min-width : 1950px)
{
	/*** Slider ***/
	.row-2 .item
	{
		height: 35em;
	}
}

@media ( min-width : 1400px)
{
	/*** Slider ***/
	.row-2 .item
	{
		height: 33em;
	}
}


@media ( min-width : 579px )
{
	/*** Header Image ***/
	img.show-mob
	{
		display: none !important;
	}
	
	.row-start img
	{
		width: 70%;
	}
	
}

@media ( max-width : 660px )
{
	/*** Partners ***/
	.carousel-slide
	{
		display: block;
	}
	
	.carousel-slide + .carousel-slide
	{
		margin: 1.5em 0 0;
	}
	
}

@media ( max-width : 580px )
{
	/*** Header Image ***/
	img.show-mob
	{
		display: block !important;
	}
	img.no-mob
	{
		display: none !important;
	}
	
	.header-image-text
	{
		margin-bottom: 0.7em;
	}
		.header-image-text h1
		{
			font-size: 3em;
			line-height: 0.8;
			margin: 0 0 0.15em;
		}
			.header-image-text h1 span
			{
				display: block;
			}
		.header-image-text .sub-heading
		{
			font-size: 1.3em;
		}
		
	/*** Slider ***/
	.row-2 .item
	{
		height: 29em;
	}
		
	.row-3 .item
	{
		height: 40em;
	}
		.carousel .content-inner
		{
			width: 80%;
		}
	
	.carousel-control.right
	{
		margin-right: 0;
		text-align: right;
	}
	.carousel-control.left
	{
		margin-left: 0;
		text-align: left;
	}
		.carousel-control img
		{
			width: 55%;
		}

}

@media ( max-width : 480px )
{
	/*** Heading ***/
	.row-1 h2 span
	{
		display: block;
	}
	
	/*** Form ***/
	.form-item
	{
		display: block;
		margin-bottom: 1em;
		width: auto;
	}
	
	/*** Slider ***/
	.row-2 ul li
	{
		font-size: 0.8em;
	}

	.row-2 .item.item-5
	{
		background-image: url('https://www.domusventilation.co.uk/sites/default/files/Domus_truck_mobile.jpg') !important;
		background-position: 18% !important;
	}
	
	.row-3 .item
	{
		height: 35em;
	}
	
	.row-2 .item
	{
		height: 25em;
	}
	
	.item p
	{
		font-size: 0.9em;
	}
		.row-2 .item p
		{
			font-size: 0.8em;
		}
	
}

@media ( max-width : 420px )
{
	/*** Header Image ***/
	.header-image-text h1
	{
		font-size: 2.5em;
		line-height: 0.8;
		margin: 0 0 0.15em;
	}
	.header-image-text .sub-heading
	{
		font-size: 1.1em;
	}

	
}
